* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #2ecc71;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background: #2c3e50;
}


.navbar button {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* DASHBOARD BODY */
.dashboard-body {
  display: flex;
  height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #34495e;
  color: white;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #2c3e50;
}

.sidebar li:hover {
  background: #2c3e50;
}

/* CONTENT */
.dashboard-content {
  flex: 1;
  padding: 20px;
  background: #ecf0f1;
}
.dashboard-body {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85); /* semi-transparent white */
  min-height: 90vh;
  padding: 20px;
  border-radius: 10px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

