* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #3498db, #2980b9);
}

.login-card {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}



.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card input:focus {
  outline: none;
  border-color: #3498db;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #2980b9;
}

.message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: green;
}
