.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.register-form input,
.register-form button {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}
.error {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

